body,
ul,
li,
p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topo{
    width: 100%;
    height: 180px;
    background-color: rgb(8,95,99);
}

.meioft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 88%;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    border-color: white;
    border-width: 100px;
}

.catalogos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 600px;
    width: 88%;
    height: 1000px;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    color: rgb(255, 255, 255); 
}

.fim{
    display: flex;
    flex-direction:column;
    align-items:flex-start; 
    width: 100%;
    height: 250px;
    background-color: rgb(8,95,99);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    color: rgb(255, 255, 255);
}

.invertfim{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    margin-inline: -30px;
    width: 100%;
    height: 300px;
}